@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Abel", sans-serif;
  font-size: large;
  background-color: rgb(255, 239, 239);
  display: flex;
}
section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);  
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}



#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}


h2{
    font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: pointer;
}


/* Header nav start  */

toggle{
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  top: 28px;
  left: 31px;
  transform: translate(-50%, -50%);
}
.light-mode-footer {
  background-color: rgb(250, 219, 223);
  color: black;
}

.light-mode-ur-details {
  background-color: #aaa;
  color: #000;
}

.light-mode-cat{
background-color: rgb(255,239,239);
color: #000;
}

.light-mode{
  background-color: white;
  color: #000;
}

.light-mode-logo {
  background-color: rgb(255, 239, 239);
  border-radius: 20px;
  margin: 10px;
  
}
.light-mode-nav{
  background-color: #fbe4e4;
  color: #000;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.search-box {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  position: relative;
}

.search-input {
  width: 100%;
  height: 100%;
  margin:10px 24px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 500;
  transition: width 0.8s;
  background: transparent;
  position: relative;
}

.placeholder-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 1;
}

.placeholder-box::after {
  content: attr(placeholder);
  color: #ccc;
  font-size: 16px;
  font-weight: 500;
}

.search-button,
.clear-button {
  cursor: pointer;
  flex-shrink: 0;
}

.search-button {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

.search-button .fas {
  color: rgb(161, 9, 118);
  font-size: 18px;
}

.clear-button{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 5px;
}

.clear-button .fas {
  color: #ccc;
  font-size: 16px;
}


a.nav-link {
  margin-right: 20px;
  font-weight: 700;
}
.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #ffffff;
}

nav.fill ul li a.nav-link {
  transition: all 0.5s;
}

nav.fill ul li a.nav-link:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

nav.fill ul li a.nav-link:hover {
  /* color: white; */
  animation: hover-color 0.5s forwards;
  z-index: 1;
}

nav.fill ul li a.nav-link:hover:after {
  z-index: -10;
  border-radius: 10px;
  animation: fill 0.7s forwards;
  opacity: 1;
}

nav.fill ul li a.nav-link {
  position: relative;
}

nav.fill ul li a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

/* End  */

/* section Mack book start  */

section#mack-book {
  margin-bottom: 100px;
}

.carousel-indicators li {
  width: 20px;
  height: 8px;
  border: none;
  border-radius: 4px;
  background-color: #cecece;
}
.carousel-indicators li.active {
  width: 35px;
  height: 10px;
  border-radius: 8px;
  background-image: linear-gradient(145deg, #f1c40f, #e67e22);
}

.mack {
  padding: 10% 4%;
}

.mack p {
  margin-bottom: 30px;
}

.mack a.mack-btn {
  font-weight: bold;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
}

.mack a.mack-btn:hover {
  background-color: white;
  color: black;
}

svg.bi.bi-arrow-right {
  color: white;
  font-size: 20px;
  transition: 0.5s;
}

a.mack-btn:hover svg.bi.bi-arrow-right {
  transform: rotate(-180deg);
  color: black;
}

/* End  */

/* section Smart phone start  */

section#smartphone {
  margin-bottom: 100px;
}

.card {
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card:hover {
  transform: scale(1.05);
}

.smartphone-header {
  margin-bottom: 50px;
}

.smartphone-header h5 {
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(145deg, #f1c40f, #e67e22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.smartphone-btn {
  font-weight: bold;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
}

a.smartphone-btn:hover {
  background-color: white;
  color: black;
}

a.smartphone-btn:hover svg.bi.bi-arrow-right {
  transform: rotate(-180deg);
  color: black;
}

/* End  */

/* section Laptop start  */

section#laptop {
  margin-bottom: 100px;
}

.laptop-header {
  margin-bottom: 50px;
}

.laptop-header h5 {
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(145deg, #f1c40f, #e67e22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.laptop-btn {
  font-weight: bold;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 1s;
  cursor: pointer;
}

a.laptop-btn:hover {
  background-color: white;
  color: black;
}

a.laptop-btn:hover svg.bi.bi-arrow-right {
  transform: rotate(-180deg);
  color: black;
}

/* End  */

/* Categories start  */

hr {
  width: 130px;
  background-image: linear-gradient(145deg, #f1c40f, #e67e22);
  height: 10px;
  border: none;
  border-radius: 50px;
  margin-bottom: 50px;
}
.categories-card {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);;
  padding: 5%;
  transition: ease-in-out 0.2s;
}

.categories-card:hover {
  transform: scale(1.05);
}

.mt-5 {
  margin-top: 6rem !important;
}
/* End  */

/* backtotop */
#goToTopBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
}

/* Footer  */
footer {
  padding: 5%;
}
/* End  */

/* Nav animation */

@-webkit-keyframes hover-color {
  0% {
    color: #000;
  }
  50% {
    color: #4b4b4b;
  }
  100% {
    color: #ffffff;
  }
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 3px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

.contact-form {
  padding: 40px 0;
  margin: 0 10px;
}

.form-container {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  font-weight: bold;
}
.form-container input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
/* added css to correct the view of contact form for different devices */
@media (min-width: 1200px){
    .form-container{
        min-width: 40%;
    }
}
@media (min-width: 992px)and (max-width:1200px){
    .form-container{
        min-width: 55%;
    }
}
@media (min-width: 768px)and (max-width: 992px){
    .form-container{
        min-width: 70%;
    }
}
@media (min-width: 576px)and (max-width:768px){
    #contact{
        width:90%;
    }
    .form-container{
        min-width: 95%;
    }
}
@media (max-width: 576px) {
    #contact{
        width:90%;
    }
    .form-container{
        min-width: 95%;
    }
}
/* ends here */

footer{
    padding: 0;
    position:relative;
    margin: auto;
    border: 2px solid rgb(228, 223, 223);
    background-color: #ebd2d2;
    border-radius:10px;
    padding-top:18px;
}
.footer-main{
    padding-top: 0.4em;
    padding-bottom: -0.2em;
    display: flex;
    width: 90%;
    margin: auto;
    
    justify-content: space-evenly;
    
}

.footer-sec1, .footer-sec4{
    width: 24%;
}
.footer-sec1 h4, .footer-sec4 h4{
    font-size: 1.3rem;
}
.footer-sec1 h3, .footer-sec4 h3{
    font-size: 1.4rem;
}
.footer-sec2, .footer-sec3{
    width: 24%;
}
.footer-sec2 h3, .footer-sec3 h3{
    font-size: 1.4rem;
}
footer a{
    text-decoration: none;
    color: #212529;
    
}
/* footer amin styling */

.footer-main li{
    list-style:none;
}
.footer-main ul{
    padding-left: 0.5em;
    
}
footer a:hover{
    color: #212529;
    text-decoration: none;
}
.footer-main select{
    width: 40%;
    padding: 0.15em;
    margin-left: 0.2em;
    border:  1px solid black;
    border-radius: 0.3em ;
    background-color: #ffdbdb;
}

.footer-main option:checked{
    background: grey;
    color: white;
    padding: 0.15em;
    margin-left: 0.5em;
    border-radius: 0.3em ;
    font-size: 1.05rem;
    padding-bottom: 0.25em;
}
.footer-main option{
    
    font-size: 1.05rem;
    padding-bottom: 0.25em;
}
@media (min-width:765px) and (max-width:1000px){
    .footer-sec3{
        display: none;
    }
    footer{
        margin-left:0.9em;
    }
    .footer-main select{
        width: 55%;
    }
    
}
@media  (max-width:765px){
    .footer-sec3, .footer-sec2{
        display: none;
    }
    .footer-sec1, .footer-sec4{
        width: 45%;
    }
    .footer-main select{
        width: 60%;
    }
    
}

/* footer main styling ends */

/* footer go styling starts */
.footer-go{

    padding-top: 0.15em;
    border-bottom: 2px solid white ;
    border-top: 2px solid white ;
}
.footer-go:hover{
    /* background-color: rgb(255, 239, 239); */
    
    border: 2px solid rgb(255, 239, 239) ;
   background-color: rgb(177, 168, 168);
   cursor: pointer;
}
/* footer go styling ends */


/* footer lower styling starts */
.footer-lower{
    width: 80%;
    margin:auto;
    display: flex;
    padding-left: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    justify-content: space-between;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
}
.footer-lower-item1{
    width: 33%;
}

.footer-lower-item1 div input{
    border: 1px solid #ced4da;
    
}
.footer-lower-item1 div span{
    padding: 0 0.75rem;
}
.footer-lower-item2{
    width: 50%;
}
.payment-logos{
    padding-left: 1.5em;
    padding-right: 7.5em;
    display: flex;
    justify-content: space-evenly;
}
@media (min-width:765px) and (max-width:1000px){
    .footer-lower-item1{
        width: 47%;
    }
    .payment-logos{
        padding-right: 2.5em;
    }
    #payment-logos5 , #payment-logos6 , #payment-logos7 {
        display: none;
    }
}
@media (max-width:765px) {
    .footer-lower-item2{
        display: none;
    }
    .footer-lower-item1{
        width: 80%;
    }
}
/* footer lower styling ends */

/* About Us section's styles start here */
.custom-div {
  background-color: white;
  border-radius: 10px; 
  padding: 30px;
  margin: 0; 
}
.inner-container{
  padding: 20px;
  border-left: 3px solid #e67e22;
  border-right: 3px solid #e67e22;
  background: linear-gradient(to right, #e67e22 50%, transparent 50%),
              linear-gradient(to right,transparent 50%,#e67e22 50%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: top,bottom;
}
.custom-content {
  padding: 10px; 
}

.site-logo {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px;
}
.people,.message,.quality{
  width: 95%;
  height: auto;
  margin-top:80px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.people:hover,.message:hover,.quality:hover{
 cursor: pointer;
}
.people:hover i,.message:hover i,.quality:hover i{
  transform: scale(1.1);
  color: #c86713;
 }
.people i,.message i,.quality i{
  font-size: 40px;
  margin-bottom: 15px;
  color: #e67e22;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:767px){
  .people,.message,.quality{
    margin-top: 10px;
  }
  .people i,.message i,.quality i{
    font-size: 30px;
  }
  .row-top{
    margin-bottom: 40px;
  }
  .inner-container{
    background: none;
    border: 2px solid #c86713;
  }
}
/* About Us section's styles ends here */

.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
}


.styled-form {
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/*FAQS*/
.faq {
  padding-bottom: 20px;
  display: grid;
  place-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.faq_heading {
  padding-top: 5rem;
  color:black;
  width: 100%;
}

.faq_heading h2 {
  
  padding-bottom: 2rem;
}

.accordion {
  width: 66.5rem;
  padding: 1.2rem 0;
  border-radius: 1rem;
  background: rgba(1, 59, 112, 0.4);;
  margin-top: 2rem;
}

.accordion__heading {
  margin-bottom: 1rem;
  padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: rgba(1, 59, 112, 0.4);
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 300;
}

.accordion__btn:hover {
  color: #2868d0;
  background: hsl(248, 53%, 97%);
  font-weight: 700;
}

.accordion__item--active .accordion__btn {
  color: #2868d0;
  border-bottom: 2px solid #2868d0;
  background: hsl(248, 53%, 97%);
  font-weight: 700;
}

.fa-lightbulb {
  padding-right: 1rem;
}

.accordion__icon {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}

.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}

.accordion__content {
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: white;
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content .email{
  color:  #ffff00;
}
.accordion__content p {
  padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(0px);
  max-height: 100vh;
}

@media (max-width: 991px) {
  .accordion {
    width: 31rem;
    left: 13rem;
  }
}

@media (max-width: 547px) {
  .accordion {
    width: 24rem;
  }
}

@media (max-width: 445px) {
  .faq_heading {
    width: 94%;
  }

  .faq_heading h1 {
    font-size: 29px;
  }

  .accordion {
    width: 16rem;
  }

  .accordion__btn {
    font-size: 11px;
  }
}

#thanks{
  font-size: large;
  font-weight: bold;
}
